apiVersion: eksctl.io/v1alpha5

kind: ClusterConfig

metadata:
  name: {{ eks_cluster_name }}
  region: {{ aws_region }}
  version: "{{ eks_kubernetes_version }}"

iam:
  withOIDC: true

managedNodeGroups:
  - name: {{ eks_cluster_name }}-workers

    instanceType: {{ node_instance_type }}

    minSize: {{ node_min_size }}
    desiredCapacity: {{ node_desired_size }}
    maxSize: {{ node_max_size }}

    volumeSize: 20
    volumeType: gp3

    labels:
      role: worker

    tags:
      Project: devops-eks-automation
      Environment: learning

    iam:
      withAddonPolicies:
        autoScaler: true
        ebs: true
        cloudWatch: true